<h2>{{ type }}</h2>
<table>
    <tr>
        <th>
            <span ng-class="isSort('identifier')" ng-click="setSort('identifier')">name</span>
        </th>
        <th ng-repeat="prop in properties">
            <span ng-class="isSort(prop)" ng-click="setSort(prop)">{{ prop }}</span>
        </th>
    </tr>
    <tr ng-repeat="node in nodes | orderBy:sortField:reverse">
        <td>
            <a href="/{{ type }}/{{ node.id }}">{{ node.properties.identifier }}</a>
        </td>
        <td ng-repeat="prop in properties">
            <span>{{ node.properties[prop] }}</span>
        </td>
    </tr>
</table>
