<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Grimoire notes</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/styles/foundation.min.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/format.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/static/angular.min.js"></script>
    <script src="/static/angular-route.min.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/list.controller.js"></script>
    <script src="/static/js/node.controller.js"></script>
    <script src="/static/js/grimoire.service.js"></script>
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu">
                <li class="menu-text">Grimoire Graph Editor</li>
                <li><a href="/">home</a></li>
                <li><a href="/grimoire">grimoires</a></li>
                <li><a href="/spell">spells</a></li>
            </ul>
        </div>
    </div>

    <div id="content" ng-view></div>
</body>
</html>
