<h2>{{ type }}</h2>
<table>
    <tr>
        <th></th>
        <th ng-repeat="prop in properties">
            <span ng-click="setSort(prop)">{{ prop }}</span>
        </th>
    </tr>
    <tr ng-repeat="node in nodes | orderBy:sortField:reverse">
        <td>
            <a href="/{{ type }}/{{ node.id }}">{{ node.properties.identifier }}</a>
        </td>
        <td ng-repeat="prop in properties">
            <span ng-hide="node.editMode">{{ node.properties[prop] }}</span>
            <input ng-show="node.editMode" ng-model="node.properties[prop]">
        </td>
        <td>
            <button ng-click="updateNode(node)" ng-if="node.editMode">save</button>
            <i class="fa fa-pencil" ng-click="edit(node)" ng-if="!node.editMode"></i>
        </td>
    </tr>
    <tr ng-show="addMode">
        <form name="addNodeForm">
            <td>
                <input ng-model="newItem.properties.identifier" required>
            </td>
            <td ng-repeat="prop in properties">
                <input ng-model="newItem.properties[prop]">
            </td>
            <td>
                <button ng-click="addNode()" ng-disabled="addNodeForm.$invalid">save</button>
            </td>
        </form>
    </tr>
</table>

<i class="fa fa-plus" ng-click="addMode=true"></i>
