<h2>{{ item.properties.title }}</h2>
<i class="fa fa-pencil" ng-click="edit=true"></i>
<form ng-submit="updateNode()">
    <ul>
        <li ng-repeat="(key, value) in itemCopy.properties">
            <label for="{{ key }}">{{ key }}
                <span ng-hide="edit">{{ value }}</span>
                <input name="{{ key }}" type="text" ng-model="itemCopy.properties[key]" ng-show="edit">
                <i class="fa fa-minus" ng-click="removeField(key)" ng-show="edit"></i>
            </label>
        </li>
        <li ng-show="edit">
            <i class="fa fa-plus" ng-click="addField()"></i>
            <input type="text" ng-model="newField">
        </li>
    </ul>
    <input type="submit" value="Save Changes" ng-show="edit">
</form>

<ul>
    <li ng-repeat="rel in rels">
        <span ng-if="rel.end.id == item.id">
            <a href="/{{rel.start.labels[0]}}/{{rel.start.id}}">
                {{ rel.start.properties.title }}</a>
        </span>
        <span>{{ rel.type}}</span>
        <span ng-if="rel.start.id == item.id">
            <a href="/{{rel.end.labels[0]}}/{{rel.end.id}}">
                {{ rel.end.properties.title }}</a>
        </span>
    </li>
</ul>

<a href="/{{item.labels[0]}}">List of {{item.labels[0]}}</a>
