header {
    margin-bottom: 3em;
}

h1, h2 {
    font-family: helvetica, sans-serif;
    text-transform: uppercase;
}

h1 {
    letter-spacing: 0.2em;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

h2 {
    letter-spacing: 0.1em;
    font-size: 1em;
}

#content {
    padding-bottom: 4em;
    font-family: georgia, serif;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #eee;
}

td {
    border-right: 1px solid #ddd;
}

th {
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
    font-family: helvetica, sans-serif;
}

th .sort-field {
    font-weight: bold;
}

td {
    padding: 0.5em;
}

.row .half {
    margin-bottom: 1em;
    width: 48%;
    float: left;
}

li {
    list-style-type: none;
    overflow: auto;
    padding-bottom: 0.5em;
}

form {
    overflow: auto;
}

label {
    display: block;
}

input {
    float: left;
    padding: 0.5em;
    width: 20em;
}

.suggestions {
    float: left;
}

footer {
    clear: both;
    font-family: helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1em;
    margin-top: 2em;
}

footer a {
    text-decoration: none;
}
