<input type="text" ng-model="q"><button ng-click="query(q)">query</button>
<h2>{{ type }}</h2>
<table>
    <tr>
        <td></td>
        <th>
            <span ng-class="isSort('identifier')" ng-click="setSort('identifier')">name</span>
        </th>
        <th>
            <span ng-class="isSort('uid')" ng-click="setSort('uid')">uid</span>
        </th>
        <th ng-repeat="prop in properties" ng-if="prop != 'uid'">
            <span ng-class="isSort(prop)" ng-click="setSort(prop)">{{ prop }}</span>
        </th>
    </tr>
    <tr ng-repeat="node in nodes | orderBy:sortField:reverse">
        <td>
            <button ng-click="updateNode(node)" ng-if="node.editMode">save</button>
            <i class="fa fa-pencil" ng-click="edit(node)" ng-if="!node.editMode"></i>
        </td>
        <td>
            <a href="/{{ type }}/{{ node.id }}" ng-hide="node.editMode">{{ node.properties.identifier }}</a>
            <input ng-show="node.editMode" ng-model="node.properties['identifier']">
        </td>
        <td>
            <a href="/{{ type }}/{{ node.id }}" ng-hide="node.editMode">{{ node.properties.uid }}</a>
            <input ng-show="node.editMode" ng-model="node.properties['uid']" ng-change="cleanUID(node)">
        </td>
        <td ng-repeat="prop in properties" ng-if="prop !== 'uid'">
            <span ng-hide="node.editMode">{{ node.properties[prop] }}</span>
            <input ng-show="node.editMode" ng-model="node.properties[prop]" class="{{ prop }}">
        </td>
        <td>
            <button ng-click="updateNode(node)" ng-if="node.editMode">save</button>
            <i class="fa fa-pencil" ng-click="edit(node)" ng-if="!node.editMode"></i>
        </td>
    </tr>
    <tr>
        <td></td>
        <th>
            <span ng-class="isSort('identifier')" ng-click="setSort('identifier')">name</span>
        </th>
        <th>
            <span ng-class="isSort('uid')" ng-click="setSort('uid')">uid</span>
        </th>
        <th ng-repeat="prop in properties" ng-if="prop != 'uid'">
            <span ng-class="isSort(prop)" ng-click="setSort(prop)">{{ prop }}</span>
        </th>
    </tr>
    <tr ng-show="addMode">
        <form name="addNodeForm" ng-submit="addNode()">
            <td></td>
            <td>
                <input ng-model="newItem.properties.identifier" required ng-change="setUID(newItem)">
            </td>
            <td>
                <input ng-model="newItem.properties.uid" ng-change="cleanUID(newItem)" required>
            </td>
            <td ng-repeat="prop in properties" ng-if="prop !== 'uid'">
                <input ng-model="newItem.properties[prop]" class="{{ prop }}">
            </td>
            <td>
                <button ng-click="addNode()" ng-disabled="addNodeForm.$invalid">save</button>
            </td>
        </form>
    </tr>
</table>

<i class="fa fa-plus" ng-click="addMode=true"></i>
