<div class="row">
    <div class="half">
        <h2>{{ item.properties.identifier || 'Unnamed' }}</h2>
        <form ng-submit="updateNode()">
            <ul>
                <li ng-repeat="(key, value) in itemCopy.properties">
                    <label for="{{ key }}">{{ key }}</label>
                    <input name="{{ key }}" type="text" ng-model="itemCopy.properties[key]">
                    <i class="fa fa-minus" ng-click="removeField(itemCopy.properties, key)"></i>
                </li>
                <li>
                    <label>add field</label>
                    <input type="text" ng-model="editNewField">
                    <i class="fa fa-plus" ng-click="addField(itemCopy.properties, editNewField)"></i>
                </li>
            </ul>
            <input type="submit" value="Save Changes">
        </form>

        <ul>
            <li ng-repeat="rel in rels">
                <span ng-if="rel.end.id == item.id">
                    <a href="/{{rel.start.labels[0]}}/{{rel.start.id}}">
                        {{ rel.start.properties.identifier }}</a>
                </span>
                <span>{{ rel.type}}</span>
                <span ng-if="rel.start.id == item.id">
                    <a href="/{{rel.end.labels[0]}}/{{rel.end.id}}">
                        {{ rel.end.properties.identifier }}</a>
                </span>
                <span class="delete">
                    <a href="" ng-click="removeRelationship(rel.id)">(delete)</a>
                </span>
            </li>
        </ul>

        <a href="/{{item.labels[0]}}">List of {{item.labels[0]}}</a>
    </div>

    <div class="half">
        <div class="add-item" ng-repeat="(label, item) in addItem">
            <h2 ng-click="showAddItem(label)">Add {{ label }}</h2>
            <form name="itemForm[label]" ng-submit="saveAddItem(item)" ng-show="item.show">
                <div class="toggle">
                    <button ng-click="item.isNew = false">Existing item</button>
                    <button ng-click="item.isNew = true">New Item</button>
                </div>
                <select ng-model="item.existingItem" ng-if="!item.isNew">
                    <option ng-repeat="option in item.options" value="{{ option.id }}" required>
                        {{ option.properties.identifier }}
                    </option>
                </select>
                <ul ng-if="item.isNew">
                    <li>
                        <label>identifier</label>
                        <input type="text" ng-model="item.newItem.properties.identifier" required>
                    </li>
                    <li>
                        <label>uid</label>
                        <input type="text" ng-model="item.newItem.properties.uid" required>
                    </li>
                    <li ng-repeat="prop in item.props" ng-if="!(prop == 'uid' || prop == 'identifier')">
                        <label>{{ prop }}</label>
                        <input type="text" ng-model="item.newItem.properties[prop]">
                    </li>
                </ul>
                <div>
                    <input type="submit" value="Add item" ng-disabled="itemForm[label].$invalid">
                </div>
            </form>
        </div>

        <h2>Connect to item</h2>
        <form name="newConnectionForm" ng-submit="addRelationship(newConnection.relatedNode, newConnection.relationship)">
            <ul>
                <li>
                    <label>Connection to {{item.properties.identifier}}</label>
                    <input type="text" ng-model="newConnection.relationship" required>
                </li>
                <li>
                    <label>Item type</label>
                    <select ng-model="connectType" ng-change="loadList(connectType)">
                        <option ng-repeat="type in types" value="{{ type }}">
                            {{ type }}
                        </option>
                    </select>

                    <select ng-model="newConnection.relatedNode" ng-show="connectList" required>
                        <option ng-repeat="node in connectList | orderBy:'properties.identifier':false" value="{{ node.id }}">{{ node.properties.identifier }}</option>
                    </select>
                </li>
            </ul>
            <input type="submit" value="Add connection" ng-disabled="newConnectionForm.$invalid">
        </form>
    </div>
</div>
