<div class="row">
    <div class="half">
        <h2>{{ item.properties.identifier || 'Unnamed' }}</h2>
        <i class="fa fa-pencil" ng-click="edit=true"></i>
        <form ng-submit="updateNode()">
            <ul>
                <li ng-repeat="(key, value) in itemCopy.properties">
                    <label for="{{ key }}">{{ key }}</label>
                    <span ng-hide="edit">{{ value }}</span>
                    <input name="{{ key }}" type="text" ng-model="itemCopy.properties[key]" ng-show="edit">
                    <i class="fa fa-minus" ng-click="removeField(itemCopy.properties, key)" ng-show="edit"></i>
                </li>
                <li ng-show="edit">
                    <label>add field</label>
                    <input type="text" ng-model="editNewField">
                    <i class="fa fa-plus" ng-click="addField(itemCopy.properties, editNewField)"></i>
                </li>
            </ul>
            <input type="submit" value="Save Changes" ng-show="edit">
        </form>

        <ul>
            <li ng-repeat="rel in rels">
                <span ng-if="rel.end.id == item.id">
                    <a href="/{{rel.start.labels[0]}}/{{rel.start.id}}">
                        {{ rel.start.properties.identifier }}</a>
                </span>
                <span>{{ rel.type}}</span>
                <span ng-if="rel.start.id == item.id">
                    <a href="/{{rel.end.labels[0]}}/{{rel.end.id}}">
                        {{ rel.end.properties.identifier }}</a>
                </span>
                <span class="delete">
                    <a href="" ng-click="removeRelationship(rel.id)">(delete)</a>
                </span>
            </li>
        </ul>

        <a href="/{{item.labels[0]}}">List of {{item.labels[0]}}</a>
    </div>

    <div class="half">
        <h2>Connect to item</h2>
        <form name="newConnectionForm" ng-submit="addRelationship()">
            <ul>
                <li>
                    <label>Connection to {{item.properties.identifier}}</label>
                    <input type="text" ng-model="newConnection.relationship" required>
                </li>
                <li>
                    <label>Item type</label>
                    <select ng-model="connectType" ng-change="loadList(connectType)">
                        <option ng-repeat="type in types" value="{{ type }}">
                            {{ type }}
                        </option>
                    </select>

                    <select ng-model="newConnection.relatedNode" ng-show="connectList" required>
                        <option ng-repeat="node in connectList | orderBy:'properties.identifier':false" value="{{ node.id }}">{{ node.properties.identifier }}</option>
                    </select>
                </li>
            </ul>
            <input type="submit" value="Add connection" ng-disabled="newConnectionForm.$invalid">
        </form>
    </div>
</div>
