<div class="row">
    <div class="medium-3 columns">&nbsp;</div>
    <div class="medium-6 columns">
        <h2>{{ item.properties.identifier || 'Unnamed' }}</h2>
    </div>
    <div class="medium-3 columns">
        <i class="fa fa-pencil" ng-click="edit=true"></i>
    </div>
</div>

<div class="row">
    <div class="medium-3 columns">
        <div class="add-item" ng-repeat="item in addItem | orderBy:'rel'">
            <h3 ng-click="showAddItem(item)">
                <span ng-if="item.start">{{ item.label }}</span>
                {{ item.rel }}
                <span ng-if="!item.start">{{ item.label }}</span>
            </h3>
            <form name="itemForm[item.label]" ng-show="item.show">
                <div class="toggle">
                    <button class="tiny button" ng-class="{'secondary': item.isNew}" ng-click="item.isNew = false">Existing item</button>
                    <button class="tiny button" ng-class="{'secondary': !item.isNew}" ng-click="item.isNew = true">New Item</button>
                </div>
                <select ng-model="item.existingItem" ng-if="!item.isNew">
                    <option ng-repeat="option in item.options | orderBy:'properties.identifier'" value="{{ option.id }}" required>
                        {{ option.properties.identifier }}
                    </option>
                </select>
                <ul ng-if="item.isNew">
                    <li>
                        <label>identifier</label>
                        <input type="text" ng-model="item.newItem.properties.identifier" ng-change="setUID(item.newItem)" required>
                    </li>
                    <li>
                        <label>uid</label>
                        <input type="text" ng-model="item.newItem.properties.uid" required>
                    </li>
                    <li ng-repeat="prop in item.props" ng-if="!(prop == 'uid' || prop == 'identifier')">
                        <label>{{ prop }}</label>
                        <input type="text" ng-model="item.newItem.properties[prop]">
                    </li>
                </ul>
                <div>
                    <input type="submit" class="button" value="Add item" ng-disabled="itemForm[item.label].$invalid" ng-click="saveAddItem(item)">
                </div>
            </form>
        </div>


        <h2>Connect to item</h2>
        <form name="newConnectionForm" ng-submit="addRelationship(newConnection.relatedNode, newConnection.relationship)">
            <ul>
                <li>
                    <label>Connection to {{item.properties.identifier}}</label>
                    <input type="text" ng-model="newConnection.relationship" required>
                </li>
                <li>
                    <label>Item type</label>
                    <select ng-model="connectType" ng-change="loadList(connectType)">
                        <option ng-repeat="type in types track by $index" value="{{ type }}">
                            {{ type }}
                        </option>
                    </select>

                    <select ng-model="newConnection.relatedNode" ng-show="connectList" required>
                        <option ng-repeat="node in connectList | orderBy:'properties.identifier':false" value="{{ node.id }}">{{ node.properties.identifier }}</option>
                    </select>
                </li>
            </ul>
            <input type="submit" class="button" value="Add connection" ng-disabled="newConnectionForm.$invalid">
        </form>
    </div>

    <div class="medium-9 columns">
        <form ng-submit="updateNode()">
            <ul>
                <li>
                    <label>Content</label>
                    <textarea ng-model="itemCopy.properties.content" ng-if="edit"></textarea>
                    <p ng-if="!edit">{{ itemCopy.properties.content }}</p>
                </li>
                <li ng-repeat="(key, value) in itemCopy.properties" ng-if="key != 'content'">
                    <label for="{{ key }}">{{ key }}</label>
                    <span ng-hide="edit">{{ value }}</span>
                    <input name="{{ key }}" type="text" ng-model="itemCopy.properties[key]" ng-show="edit">
                    <i class="fa fa-minus" ng-click="removeField(itemCopy.properties, key)" ng-show="edit"></i>
                </li>
                <li ng-if="edit">
                    <label>add field</label>
                    <input type="text" ng-model="editNewField">
                    <i class="fa fa-plus" ng-click="addField(itemCopy.properties, editNewField)"></i>
                </li>
            </ul>
            <input type="submit" value="Save Changes" ng-if="edit">
        </form>

        <ul>
            <li ng-repeat="rel in rels">
                <span ng-if="rel.end.id == item.id">
                    <a href="/{{rel.start.label}}/{{rel.start.id}}">
                        {{ rel.start.properties.identifier }}</a>
                </span>
                <span>{{ rel.type}}</span>
                <span ng-if="rel.start.id == item.id">
                    <a href="/{{rel.end.label}}/{{rel.end.id}}">
                        {{ rel.end.properties.identifier }}</a>
                </span>
                <span class="delete">
                    <a href="" ng-click="removeRelationship(rel.id)">(delete)</a>
                </span>
            </li>
        </ul>

        <a href="/{{item.label}}">List of {{item.label}}</a>
    </div>

</div>
